<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunshine.sihuo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RequestFriends"
            android:label="@string/title_activity_request_friends" >
        </activity>
        <activity
            android:name=".ShowKindActivity"
            android:label="@string/title_activity_show_kind" >
        </activity>
        <activity
            android:name=".ShowMoreActivity"
            android:label="@string/title_activity_show_more" >
        </activity>
        <activity android:name=".LV_Info" />
        <activity android:name=".Vp_WebView" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".GoodActivity"
            android:label="@string/title_activity_good" >
        </activity>
        <activity
            android:name=".MineNameInfoActivity"
            android:label="@string/title_activity_mine_name_info" >
        </activity>
        <activity
            android:name=".MyPageActivity"
            android:label="@string/title_activity_my_page" >
        </activity>
        <activity
            android:name=".MyPurseActivity"
            android:label="@string/title_activity_my_purse" >
        </activity>
        <activity
            android:name=".MySaleActivity"
            android:label="@string/title_activity_my_sale" >
        </activity>
        <activity
            android:name=".MySaleOutActivity"
            android:label="@string/title_activity_my_sale_out" >
        </activity>
        <activity
            android:name=".MyBuyActivity"
            android:label="@string/title_activity_my_buy" >
        </activity>
        <activity
            android:name=".MySettingActivity"
            android:label="@string/title_activity_my_setting" >
        </activity>
        <activity
            android:name=".MyFriendActivity"
            android:label="@string/title_activity_my_friend" >
        </activity>
    </application>

</manifest>
